.image {
  width: 317px;
  border-radius: 10px 10px 0 0;
}

.main {
  background-color: #1A1B21;
  height: 420px;
  width: 317px;
  margin-top: -4px;
}

.pr-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pr-name {
  color: white;
  font-size: 25px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 1.19px;
}

.pr-title {
  color: #F3BF99;
  font-size: 12.8px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 5.81px;
}

.pr-link {
  color: #F5F5F5;
  font-size: 10.24px;
  font-weight: 400;
  margin-bottom: 20px;
}

.pr-buttons {
  display: flex;
  gap: 17px;
  margin-bottom: 20px;
}

.linkedin-btn {
  background-color: #5093E2;
  color: white;
}

#button-pr {
  border: none;
  border-radius: 6px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 11px;
  padding-right: 13px;
  height: 34px;
  width: 115px;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.about {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
  text-align: left;
  align-self: flex-start;
  margin-left: 35px;
  color: #F5F5F5;
  letter-spacing: 0%;
}

.pr-about {
  color: #DCDCDC;
  max-width: 247px;
  font-size: 10.24px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  margin-top: 0;
  margin-bottom: 14px;
}

.interests {
  margin-top: 0;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
  text-align: left;
  align-self: flex-start;
  margin-left: 35px;
  color: #F5F5F5;
  letter-spacing: 0%;
}

.pr-interests {
  color: #DCDCDC;
  max-width: 247px;
  font-size: 10.24px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  margin-top: 0;
}

.footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 0px;
  background-color: #161619;
  height: 64px;
  width: 317px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.footer-icons svg {
  font-size: 15px;
  background: #918E9B;
  color: #161619;
  padding: 5px;
  border-radius: 3px;
}